 

  body{
  	    margin:5px;
        background:rgb(104,205,214);
        color: white;
       
          } 

    .task1 img{

    	  width: 50px;
    	  height: 50px;

    	  margin-top: 15px;
    	  margin-left: 15px;
             
    }
        
    .task2 img{


                 margin: 5% 40% 0 40%;

    }

       #s{
          
                font-size: 20px;
                text-indent: 2em;
                margin-top: 5%;



          }

    .task3 img{

    	      margin-left:90%;
              margin-top:15%;
    	    
    	
    }	

    .task3 {
    	   float:left;
    } 

     .task3 p{

     	      margin-left:90%;
     }     
    
    
    .task4 img{


                 margin-right:90%;
                 margin-top:15%;
             }

    .task4 {
    	   float:right;
    }
      .task4 p{
      	    margin-right: 90%;
      }
  




    
