
body {
    margin: 0;
    background-color: #f0f0f0;
}

.all {
    min-width: 630px;
    font-family: 黑体, serif;
}

header {

    height: 90px;
    background-color: #29bde0;
}

.a img {
    margin-left: 20px;
    margin-top: 45px;

}

.b {

    height: 120px;
    background: white;
    margin-top: 2.7%;
    margin-left: 5%;
    margin-right: 5%;

    border: 2px solid #e8e8e8;
}

.c {

    line-height: 120px;
    padding-left: 40%;
    font-size: 33px;
    color: #bcbcbc;
}
.e {
    background-color: white;
    margin:2% 5%;
    border: 2px solid #e8e8e8;
}

.f {
    height: 90px;
    border-bottom: 2px solid #fccd78;
    color: #fccd78;
    text-align: center;
    line-height: 90px;
    font-size: 33px;
}

.g {

    height: 120px;
    background-color: #69d1e9;
    margin:2% 5%;
    color: white;
    text-align: center;
    line-height: 135px;
    font-size: 33px;
}

.h {
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #a3a3a3;
}

.but{
    width: 100%;
    height: 200px;
}
.i {
    float: right;
    position: relative;
    top: -57%;
}

.j {
    text-align: center;
}