
* {
    margin: 0;
    min-height: 0 !important;
}

body {
    min-width: 900px;
}

.text {
    line-height: 40px;
    padding: 0 250px;
    height: 40px;
}

.top {
    height: 120px;
    background-color: #29b078;
}

.top ul {
    margin-right: 15%;
}

.top ul li {
    list-style: none;
    font-size: 15px;
    float: right;

}

.top ul li a {
    display: block;
    float: left;
    color: white;
    width: 100px;
    height: 55px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    margin: 0 3px;
}

.top ul li a:hover {
    position: relative;
    border-bottom: 4px solid white;
    text-decoration: none;
}

.a {
    position: relative;
    width: 110px;
    height: 55px;
    top: 30%;
    left: 18%;
}

.b img {
    width: 100%;
}

.background {
    width: 100%;
    height: 1400px;
    background-color: #fafafa;
}

.t1 {
    width: 1200px;
    height: 80px;
    margin: auto;
    line-height: 80px;
}

.t2 {
    width: 270px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border: 2px solid #f7f7f7;
    font-weight: bold;
    font-size: 20px;
}

.t3 {
    width: 270px;
    height: 710px;
    border-left:2px solid #f7f7f7;
    border-left: 2px solid #f7f7f7;
    border-right: 2px solid #f7f7f7;
}

dt {
    list-style-type: circle;
}

dd {

    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    font-size: 18px;
    border: 1px solid orange;
    margin-top: 30px;
    position: relative;
    left: 90px;
    top: 15px;
}

dd:hover{
    background-color: red;
}

b {
    color: #26a26f;
    margin-left: 140px;
}

.t4{
      background-color: white;
      height: 177px;
}

.t4 img{
    float: left;
}

.t5{
    display: inline-block;
    width: 640px;
    height: 177px;
    float: left;
    color: #9f9f9f;
    font-size: 20px;
}
.t6{
    width: 100%;
    height: 970px;
    background-color: white;
    color: #9f9f9f;
    font-size: 20px;
    padding:0 100px;
}

.footer{
    width: 100%;
    height: 175px;
    background-color: #26a26f;
    color: white;
    font-size: 20px;
}

.nav{
    width: 100%;
    text-align: center;
    color: white;
    background-color:#26a26f;
}