
* {
    margin: 0;
    min-height: 0 !important;
}

body {
    min-width: 800px;

}

.text {
    width: 100%;
    line-height: 40px;
    padding: 0 5%;
    height: 40px;
}

.a {
    width: 500px;
    height: 120px;
    overflow: hidden;
}

.a img {
     position: relative;
    top:50%;
    left:10%;
    cursor: pointer;
    transition: all 1s;
}

.a img:hover {
    transform: scale(1.2);
}

.top {
    width: 100%;
    height:180px;
    background-color: #29b078;

}

.top ul {
    margin-right: 15%;
}

.top ul li {
    list-style: none;
    font-size: 15px;
    float: right;
}

.top ul li a {
    display: block;
    float: left;
    color: white;
    width: 100px;
    height: 55px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;

}

.top ul li a:hover {
    position: relative;
    border-bottom: 4px solid white;
}

.table{
    width: 100%;
    background-color: #fafafa;
    height: 2050px;
    margin-bottom: 0!important;
}
.pent {
    width: 100%;

}

.pent1 {
    width: 80vw;
    font-size: 2rem;
    line-height: 80px;
    border-bottom: 2px solid #eceeef;

}

.pent2 {
    width: 80vw;
    font-size: 1.5rem;
    line-height: 60px;
    border-bottom: 2px solid #eceeef;

}

.pent2 b {
    padding: 0 2%;
}

.pent2 b:hover {
    background-color: #29b078;
    color: white;
}

.pent3 {
    width: 80vw;
    font-size: 2rem;
    line-height: 80px;
    border-bottom: 2px solid #eceeef;
}

.container {
    width: 1200px;
    padding: 0 30%;
    font-size: 5px;
    background-color: #fafafa;
}

.row {
    width: 100%;
    background-color: #fafafa;

}

.inter {

    width: 100%;
    background-color: white;
    padding: 0 !important;
    height: 390px;
    margin-top: 5%;
    box-shadow: 2px 2px 2px 2px #a6a6a6;
    color: #9f9f9f;
}

.header {
    width: 100%;
    border: 1px solid #a6a6a6;

}

.header img {
    width: 38%;
    height: 31%;
    vertical-align: top;
}

.center {
    width: 100%;
    height: 90px;
}

.center1 {
    width: 50%;
    height: 45px;
    display: inline-block;
    border: 1px solid #9f9f9f;
    border-left: none;
    border-top: transparent;
    line-height: 45px;
    float: left;

}

.center b {
    color: red;
}

.content {
    width: 100%;
    height: 110px;
}

.content1 {
    width: 40%;
    line-height: 117px;
    text-align: center;
    display: inline-block;
    float: left;


}

.content2 {
    display: inline-block;
    width: 60%;
    float: left;
}

.content2-1 {
    display: block;
    line-height: 38px;
    border: 1px solid #afbac0;
    border-top: none;
    color:black;
}

.end {
    width: 100%;
    border-top: 1px solid #a6a6a6;
    float: left;

}

.hover {
    width: 100%;
    height: 390px;
    background-color: black;
    color: white;
    opacity: 0;
    font-size: 15px;
    transition: all 1s;
    position: absolute;
    top:10px;
    left:-1px;
    transform: rotateY(-180deg);

}

.inter:hover .hover {
    transform: rotateY(0);
    opacity: 0.7;

}
.all{
    width: 100%;
    background-color: #fafafa;
}


.footer{
    width: 100%;
    height: 175px;
    background-color: #26a26f;
    color: white;
    font-size: 20px;
}

.nav{
    width: 100%;
    text-align: center;
    color: white;
    background-color:#26a26f;
}

