
.all {

    max-width: 356px;

    background-color: rgb(240, 246, 255);
    border: 1px solid;
    margin: 5% auto;
    font-family: "Arial Narrow";

}

header {
    height: 90px;
    background: white;

}

.box1 img {
    margin-top: 7%;
    margin-left: 5%;
}

.box2 {

    border: 1px solid transparent;
    position: relative;
    top: -13px;

}

.box3 img {

    float: right;
    margin-top: 5%;
    margin-right: 5%;

}

.e{

    background: white;
}


.q{
    font-family: "Arial Black";
    font-size: 15px;
    margin-top:2%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 300px;
    height:30px ;
}

.w{
    font-family: "Arial Narrow";
    font-size: 20px;
    background: blue;
    width: 300px;
    height: 30px;


}