@fullwidth: 100%;
@fullheight: 100%;
@bg-content: #fafafa;
@base: #29b078;
@font-size: 14px;
@color: #bfbfbf;


html {
  font-size: 62.5%;
}

body, p {
  margin: 0;
  padding: 0;
}

header {
  width: @fullwidth;
  .text {
    height: 2.3rem;
    line-height: 2.3rem;
    padding: 0 10%;
    a {
      font-size: @font-size;
      color: @base;
      &:hover {
        text-decoration: none;
        color: red;
      }
    }
    .text-right {
      float: right;
    }

  }
  .text1 {
    display: none;
  }

  .list {
    height: 7rem;
    background-color: @base;
    color: white;
    padding:0 10%;
    img {
      padding:2em 0;
    }
    ul {
      float: right;
      li {
        list-style: none;
        font-size: 1.2em;
        float: right;
        a {
          display: block;
          float: left;
          width: 5em;
          height: 5.2em;
          line-height: 5em;
          text-decoration: none;
          text-align: center;
          padding: 0 1.2em;
          margin: 0 .5em;
          font-size: @font-size+2;
          &:hover {
            position: relative;
            border-bottom: .3em solid white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (min-width: 320px)and(max-width: 670px) {
  header {
    width: @fullwidth;
    .text {
      height: 2.3rem;
      line-height: 2.3rem;
      padding: 0 5%;
      a {
        font-size: @font-size;
        color: @base;
        &:hover {
          text-decoration: none;
          color: red;
        }
      }
      .text-right {
        float: right;
      }

    }
    .text1 {
      display: none;
    }

    .list {
      height: 7rem;
      background-color: @base;
      color: white;

      img{
        display: none;
      }
      ul {
        margin-right: 15%;
        li {
          list-style: none;
          font-size: 1.2em;
          float: right;
          margin: 0 -1.6em;
          a {
            display: block;
            float: left;
            width: 5em;
            height: 5.2em;
            line-height: 5em;
            text-decoration: none;
            text-align: center;
            padding: 0 1.2em;
            margin: 0 .5em;
            font-size: @font-size+2;
            &:hover {
              position: relative;
              border-bottom: .3em solid white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}


main{
  width: @fullwidth;
  padding: 0 10%;
  background-color: #fafafa;
  p{
    font-size: @font-size+2;
    line-height: 85px;
    border-bottom: 1px solid #eceeef;
    a{
      color: @base;
      &:hover {
        color: red;
        text-decoration: none;
      }
    }
  }

  .list{
    font-size: @font-size;
    color: @base;
    line-height: 65px;
    border-bottom: 1px solid #f6f7f7;
    a{
      color: @base;
      &:hover {
        color: red;
        text-decoration: none;
      }
    }

  }


}




footer{
  width: 100%;
  background-color: #26a26f;
  color: white;
  padding:0 10%;
  font-size: @font-size;

  .k1{
    height: 5em;
    p{
      margin:1em 0;
    }
  }

  .k2{
    .k1;
    a{
      margin:1em 1em 0 0;
      color: white;
      &:hover {
        color: red;
      }
    }
  }
  .k3{
    text-align: center;
    margin-top: 1em;
  }
  .k4{
    text-align: center;
  }
}