<div class="content" ng-controller="articleList">
    <div class="choose" >
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <p>发布时间</p>
                    <input type="text"
                           style="float: left;width: 70%; border-radius: 4px;"
                           ng-click="openpop2()"
                           class="form-control"
                           uib-datepicker-popup="{{format}}"
                           ng-model="dt2"
                           is-open="pop2.opened"
                           ng-required="true"
                           close-text="关闭"
                           clear-text="清空"
                           current-text="今天"
                           alt-input-formats="altInputFormats"
                           datepicker-options="datepickerOptions2"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <p>------------</p>
                    <input type="text"
                           style="float: left;width: 70%; border-radius: 4px;"
                           ng-click="openpop1()"
                           class="form-control"
                           uib-datepicker-popup="{{format}}"
                           ng-model="dt1"
                           is-open="pop1.opened"
                           ng-required="true"
                           close-text="关闭"
                           clear-text="清空"
                           current-text="今天"
                           alt-input-formats="altInputFormats"
                           datepicker-options="datepickerOptions1"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <p>类&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp型</p>
                    <select style="float: left;width: 70%">
                        <option value="全部">全部</option>
                        <option value="首页Banner">首页Banner</option>
                        <option value="找职位Banner">找职位Banner</option>
                        <option value="找精英Banner">找精英Banner</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <p>状&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp态</p>
                    <select style="float: left;width: 70%">
                        <option value="全部">全部</option>
                        <option value="上线">上线</option>
                        <option value="草稿">草稿</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="rightbut">
                    <button ng-click="btnclear" class="btn   btnclear">清空</button>
                    <button ng-click="btnres" class=" btn  btnres">搜索</button>
                </div>
            </div>
        </div>
    </div>

    <div class="news">
        <div class="news-head">
            <strong>公司列表</strong>
            <button type="button" class="btn add" style="background-color: #337ab7">新增</button>
        </div>

        <div class="news-body" >
            <table class="table-news">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>公司名称</th>
                    <th>公司行业</th>
                    <th>地区</th>
                    <th>融资规模</th>
                    <th>认证状态</th>
                    <th>冻结状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <thead>
                <tr ng-repeat="article in data">
                    <td>{{$index+1}}</td>
                    <td>{{article.title}}</td>
                    <td>{{article.type|typefilter}}</td>
                    <td>{{article.createBy}}</td>
                    <td>{{article.title}}</td>
                    <td>{{article.order}}</td>
                    <td>{{article.status|statusfilter}}</td>
                    <td><span><a href="">职位</a></span>
                        <span><a href="">下架</a></span>
                        <span><a href="">编辑</a></span>
                        <span><a href="">删除</a></span>
                        <span><a href="">冻结</a></span>
                    </td>
                </tr>
                </thead>
            </table>
            <div class="pag">

            </div>
        </div>
    </div>
</div>
